@media screen and (min-width: 480px) {
  .foottop {
    width: 100%;
    height: 70px;
    background-color: #423F3D;
    text-align: center;
    color: #fff;
    font-size: 20px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .footlogo {
    margin: 100px 0 100px 330px;
  }
  .wwww {
    width: 100%;
    border-bottom: 2px solid #c9c6c6;
    padding: 30px;
    background-color: #e5eaee;
    text-align: center;
    justify-content: center;
    display: flex;
    font-weight: 700;
    box-sizing: border-box;
  }
  .www {
    color: black;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }
  .footend {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    background-color: #e5eaee;
    padding-bottom: 20px;
  }
  .footend1 {
    margin: 60px 0 0 75px;
    color: #737373;
  }
  .eng {
    text-transform: uppercase;
  }
  .worldwide {
    background: url("/home/gayathri/less1/images/has18.png") 30px 30px no-repeat;
    width: 30px;
    height: 30px;
    margin-right: 25px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .foottop {
    width: 100%;
    height: 200px;
    background-color: #423F3D;
    color: #fff;
    font-size: 20px;
    display: inline-flex;
    flex-direction: row;
  }
  .footlogo {
    margin: 100px 0 100px 330px;
    width: 250px;
    height: 250px;
    order: 2;
  }
  .wwww {
    width: 100%;
    border-bottom: 2px solid #c9c6c6;
    padding: 100px;
    background-color: #e5eaee;
    text-align: center;
    justify-content: center;
    display: flex;
    font-weight: 700;
    box-sizing: border-box;
  }
  .www {
    color: black;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
  }
  .footend {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #e5eaee;
    padding-bottom: 20px;
  }
  .footend1 {
    margin: 60px 0 0 0;
    color: #737373;
    font-size: 50px;
    width: 100%;
    padding-left: 95px;
    box-sizing: border-box;
  }
  .eng {
    text-transform: uppercase;
    font-size: 50px;
    text-align: left;
  }
  .worldwide {
    background: url("/home/gayathri/less1/images/has18.png") 30px 30px no-repeat;
    width: 30px;
    height: 30px;
    margin-right: 25px;
  }
}
