.link a
{
	color:#29292A;
	text-decoration:none;
    padding-top: 2px;
}
.logo
{
	align-items: left;
}
.search
{
	background-color:#A5BDD3;
	font-weight:bold;
	background-color:#A5BDD3;
	color:#29292A;
	padding:20px;
	text-align: center;
}
.head1
{
	font-size:20px;
	display: inline;
	text-align: center;
	padding-left: 2em;
	cursor: pointer;
}
html,body,h1,h2,h3,h4,h5,a,div,p
{
	padding:0;
	border:0;
	margin:0;
}
.button
{
	width:250px;
	height:70px;
	background-color:#E46E1C;
	color:#fff;
	font-weight:bold;
	font-size:40px;
	margin:auto;
	display:block;
	border-radius: 10px;
}
.big
{
	background-image:url("images/has1.png");
	width:100%;
	height:70%;
	background-repeat:no-repeat;
}
.butt
{
    width:200px;
    height:50px;
    background-color:#fff;
    margin:auto;
    display:block;
    border:2px solid blue;
    border-radius: 10px;
    cursor: pointer;
}
h3
{
	font-size: 30px;
	font-weight: bold;
	color:blue;
	text-decoration: underline;
}
.img3
{
	margin:30px 0 10px 30px;
	padding:5px;
	box-shadow:-10px 10px 3px #DDDEE9;
}
.img2
{
	margin: 30px 0 10px 30px;
	padding:5px;
	box-shadow:-10px 10px 3px #DDDEE9;
}
.img0
{
	margin-left:5px;
	margin-top: 10px;
	margin-right: 5px;
}
.img1
{
	margin-top: 10px;
}
body
{
	font-family: proxima-nova,sans-serif;
}
.li1
{
	margin-left:5px;
	margin-top:10px;
	margin-right: 5px;
	font-size: 16px;
}
.li2
{
	margin-left: 5px;
	margin-top: 10px;
	margin-right: 5px;
	font-size: 16px;
}
.nav
{
	background-color: #fff;
	text-align: right;
	height: 30px;
	text-align:right;
	font-weight:bold;
}
.feapro
{
	margin:auto;
	text-align: center;
}
.feature
{
	margin-left: 500px;
}
/*.taboo
{
	margin-left: 30px;
}*/
.brand
{
	margin-left:250px;
}
/*.tabrow
{
	margin-top: -100px;
}*/
.foottop
{
	width:100%;
	height: 70px;
	border: 1px solid grey;
	background-color: 423F3D;
	text-align: center;
	color: #fff;
	font-size: 20px;
}
.footbody
{
	width: 100%;
	height:210px;
	background-color:D2D5E3; 
	text-align: center;
}
.footele1
{
	border-bottom: 1px solid grey;
	height:80px;
}
.eng
{
	margin-top: 20px;
}
.www
{
	margin-top: 60px;
	color: black;
	font-size: 12px;
	font-weight: bold;
}
.footlogo
{
	margin: 35px 0 0 35px;
}
.headlogo
{
	margin: 15px 0 0 35px;
}
/*.age1
{
  width: 140px;
  height: 140px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin:0 6px;
  text-transform: capitalize;
  cursor: pointer;
}*/
.row4
{
	display: block;
	box-sizing: border-box;
}
.row4 .agelist
{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
    justify-content: center;
    width:90%;
    margin:0 auto;
}
.age 
{
    font-size: 45px;
}
.agespan
{
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}
.row4 .agelist .age1
{
	width: 180px;
	height: 180px;
	border:1px solid pink;
	border-radius: 8px;
	display: inline-flex;
	text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 6px;
    text-transform: capitalize;
    cursor: pointer;
    box-sizing: border-box;
    color: #007ac7;
    border: 2px solid #007ac7;
    margin-top: 25px;
}
.row4 .agelist .age1:hover
{
	background-color: #007ac7;
	color: #fff;
}
/*.row4 .agelist .age2
{
	width: 180px;
	height: 180px;
	border:1px solid pink;
	border-radius: 8px;
	display: inline-flex;
	text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 6px;
    text-transform: capitalize;
    cursor: pointer;
    box-sizing: border-box;
}*/
.row4 .agelist .age2
{
	width: 180px;
	height: 180px;
	border:1px solid pink;
	border-radius: 8px;
	display: inline-flex;
	text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 6px;
    text-transform: capitalize;
    cursor: pointer;
    box-sizing: border-box;
    color: #97d602;
    border: 2px solid #97d602;
    margin-bottom: 25px;
}
.row4 .agelist .age2:hover
{
	background-color: #97d602;
	color: #fff;
}
.row4 .agelist .age3
{
	width: 180px;
	height: 180px;
	border:1px solid pink;
	border-radius: 8px;
	display: inline-flex;
	text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 6px;
    text-transform: capitalize;
    cursor: pointer;
    box-sizing: border-box;
    color: #af1583;
    border: 2px solid #af1583;
    margin-top: 25px;
}
.row4 .agelist .age3:hover
{
	background-color: #af1583;
	color: #fff;
}
.row4 .agelist .age4
{
	width: 180px;
	height: 180px;
	border:1px solid pink;
	border-radius: 8px;
	display: inline-flex;
	text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 6px;
    text-transform: capitalize;
    cursor: pointer;
    box-sizing: border-box;
    color: #ef850f;
    border: 2px solid #ef850f;
    margin-bottom: 25px;
}
.row4 .agelist .age4:hover
{
	background-color: #ef850f;
	color: #fff;
}
.row4 .agelist .age5
{
	width: 180px;
	height: 180px;
	border:1px solid pink;
	border-radius: 8px;
	display: inline-flex;
	text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 6px;
    text-transform: capitalize;
    cursor: pointer;
    box-sizing: border-box;
    color: #007ac7;
    border: 2px solid #007ac7;
    margin-top: 25px;
}
.row4 .agelist .age5:hover
{
	background-color: #007ac7;
	color: #fff;
}
.row4 .agelist .age6
{
	width: 180px;
	height: 180px;
	border:1px solid pink;
	border-radius: 8px;
	display: inline-flex;
	text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 6px;
    text-transform: capitalize;
    cursor: pointer;
    box-sizing: border-box;
    color: #97d602;
    border: 2px solid #97d602;
    margin-bottom: 25px;
}
.row4 .agelist .age6:hover
{
	background-color: #97d602;
	color: #fff;
}
.row4 .agelist .age7
{
	width: 180px;
	height: 180px;
	border:1px solid pink;
	border-radius: 8px;
	display: inline-flex;
	text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 6px;
    text-transform: capitalize;
    cursor: pointer;
    box-sizing: border-box;
    color: #af1583;
    border: 2px solid #af1583;
    margin-top: 25px;
}
.row4 .agelist .age7:hover
{
	background-color: #af1583;
	color: #fff;
}