#header {
  width: 10px;
  height: 20px;
}
.banner {
  font-weight: bold;
  line-height: 40px;
  margin: 0 auto;
}
body {
  background: url("https://google.com/img.png");
}
.widget {
  color: #000;
  background-color: #fff;
}
.section .element {
  color: green;
}
.lazy-eval {
  width: 9%;
}
/*.header
{
	--color:white;
	color:var(--color);
	--color:black;
}*/
.widget {
  color: #efefef;
  background-color: #efefef;
}
.block {
  color: red;
  color: blue;
}
.block .inner {
  background-color: blue;
}
a {
  color: blue;
}
a:hover {
  color: #cc0000;
}
#header {
  color: black;
}
#header .nav {
  font-size: 4px;
}
#header .logo {
  width: 300px;
}
#a,
.b {
  color: red;
}
.mix-class {
  color: red;
}
.mix-id {
  color: red;
}
.show-mixin {
  color: red;
}
.hide {
  color: red;
  background-color: #fff;
}
.button:hover {
  color: #123;
}
.c {
  color: red;
}
/*#namespace when (@mode=hude)
{
	.mixin();
}
#namespace 
{
	.min() when (@mode=hude)
}
@mode=hude;*/
.unimportant {
  background: #efef;
  color: #099;
}
.important {
  background: #efef !important;
  color: #099 !important;
}
.button {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
#header {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/*.mixin1(@color)
{
	color-1:@color;
}
.mixin1(@color;@padding:2px)
{
	color-2:@color;
	padding-2:@padding;
}
.mixin1(@color:#455;@margin;@padding:2)
{
	color-3:@color;
	margin-3:@margin;
	padding-3:@padding;
}
.some .selector
{
	.mixin(#008000);
}*/
.class1 {
  color: #33acfe;
  margin: 20px;
  padding: 2px;
}
.class2 {
  color: #efca44;
  margin: 2px;
  padding: 40px;
}
.big-block {
  -webkit-box-shadow: 2px 5px 1px #000;
  -moz-box-shadow: 2px 5px 1px #000;
  box-shadow: 2px 5px 1px #000;
}
/*.average(@x,@y)
{
	@result:((@x+@y)/2);
}
div
{
	padding:average(16px,50px)[@result];
}*/
nav ul {
  background: blue;
}
.inline,
nav ul {
  color: red;
}
